//Theme fallback
:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  //Set color variables. These are default. Notice the same variable names in the Theme section starting in line 17. Usage example starting in line 87.
  --link: blue; 
  --link-hover: #1E90FF; 
  --link-visited: #696969;
}

//Fonts
$font-default: 'Open Sans', sans-serif;

//Colors
//Theme colors
.theme {
  &--dark {
    background-color: #222;
    color: white;
    //Set color variables. Use the same names as the defaults on lines 7-9.
    --link: Aquamarine; 
    --link-hover: violet; 
    --link-visited: DarkSeaGreen;
  }
}

//Screenreader only: hide visually
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
 }

//Set Nuxt container
#__nuxt {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    padding: .5rem 2rem;

    nav {
      ul {
        li {
          display: inline-block;
          margin-right: .5rem;
        }
      }
    }
  }

  footer {
    align-self: end;
    padding: .5rem 2rem;
  }
}

//Set defaults
* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  color: var(--link);

  &:visited {
    color: var(--link-visited)
  }

  &:hover {
    color: var(--link-hover)
  }
}

//Page elements
.page {
  padding: 1rem 2rem;
}

.box {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: grid;
  align-content: center;
  justify-items: center;

  > * {
    margin-bottom: 1rem;
  }

  &__img {
    height: 800px;
    width: 800px;
    padding: 2rem;
    background-color: green;
  }
}