@import './variables.scss';

//Theme fallback
:root {
  font-family: Arial, Helvetica, sans-serif;
}

//Fonts
$font-default: 'Open Sans', sans-serif;

//Screenreader only: hide visually
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

//set Icon size
.iconify {
  height: 1.5rem;
  width: 1.5rem;
}

//Set Nuxt container
#__nuxt {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    align-items: center;
    padding: .5rem 2rem;

    nav {
      ul {
        li {
          display: inline-block;
          margin-right: .5rem;
        }
      }
    }

    .language-switch {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      align-items: center;

      a {
        display: grid;
        align-items: center;
      }
    }
  }

  footer {
    align-self: end;
    padding: .5rem 2rem;
  }
}

//Set defaults
* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  color: var(--link);
  transition: color .2s ease-in-out;

  &:visited {
    color: var(--link-visited)
  }

  &:hover {
    color: var(--link-hover)
  }
}

//Page elements
.page {
  padding: 1rem 2rem;
}

.box {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: grid;
  align-content: center;
  justify-items: center;

  > * {
    margin-bottom: 1rem;
  }

  &__img {
    height: 800px;
    width: 800px;
    padding: 2rem;
    background-color: green;
  }
}